
:root {
    --headerb: rgb(255,255,255,.8);
}

a {
    color: black;
}

p a:hover {
    color: grey;
}

/* ANIMATIONS */

@keyframes hover {
    0% {opacity: 1;}
    100% {opacity: .8;}
    }

@keyframes navhover {
    0% {opacity: 1;}
    100% {opacity: .6;}
    }

/* ANIMATIONS END */

/* ------------ HEADER STARTS HERE --------------- */

/* contains everything */
.header-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 435px;
    width: 100%;
    background-image: url(./assets/imgs/banner.jpg);
    background-size: cover;
}

/* contains navbar */
.nav-container {
    display: flex;
    background-color: var(--headerb);
    margin: 35px 0px 0px 0px;
    padding: 8px 20px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}

.navlink {
    font-size: 2em;
    font-weight: 500;
    color: black;
    margin: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
    text-decoration: underline 2.5px;
}

a:hover.navlink {
    /* color: grey;
    text-decoration: underline 2.5px grey; */
    animation-name: navhover;
    animation-duration: .2s;
    opacity: .6;
    /* opacity: .8; */
}

/* contains header name and logo */
.header-n-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--headerb);
    padding: 22px 25px 22px 25px;
    margin: 20px 50px 35px 20px;
    border-radius: 30px;
}

.logoimg {
    width: 150px;
    height: auto;
}

.header-name {
    text-align: center;
    font-size: 2.6em;
    margin: 12px 0px 0px 0px;
    color: black;
}

/* ////--- MEDIA BREAKPOINTS START ---//// */

/* --- MEDIUM SIZE --- */
@media (max-width: 1020px) {

    /* contains everything */
.header-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 300px;
    width: 100%;
    background-image: url(./assets/imgs/banner.jpg);
    background-size: cover;
}

/* contains navbar */
.nav-container {
    display: flex;
    background-color: var(--headerb);
    margin: 25px 0px 0px 0px;
    padding: 8px 10px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}

.navlink {
    font-size: 1.7em;
    font-weight: 500;
    color: black;
    margin: 0px 12px 0px 12px;
    padding: 0px 0px 0px 0px;
    text-decoration: underline 2.5px;
}

/* contains header name and logo */
.header-n-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--headerb);
    padding: 10px 15px 8px 15px;
    margin: 10px 30px 25px 10px;
    border-radius: 20px;
}

.logoimg {
    width: 100px;
    height: auto;
}

.header-name {
    text-align: center;
    font-size: 2em;
    margin: 8px 0px 0px 0px;
    color: black;
}

}

/* --- SMALL SIZE --- */
@media (max-width: 645px) {

    /* contains everything */
.header-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: flex-end;
    height: auto;
    width: 100%;
    background-image: url(./assets/imgs/banner.jpg);
    background-size: cover;
}

/* contains navbar */
.nav-container {
    display: flex;
    background-color: var(--headerb);
    margin: 15px 0px 0px 0px;
    padding: 8px 5px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}

.navlink {
    font-size: 1.2em;
    font-weight: 500;
    color: black;
    margin: 0px 6px 0px 6px;
    padding: 0px 0px 0px 0px;
    text-decoration: underline 2px;
}

/* contains header name and logo */
.header-n-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: var(--headerb);
    padding: 8px 8px 8px 15px;
    margin: 10px 0px 15px 10px;
    border-radius: 20px 0px 0px 20px;
}

.logoimg {
    width: 40px;
    height: auto;
}

.header-name {
    text-align: center;
    font-size: 2em;
    margin: 0px 10px 0px 0px;
    color: black;
}

}

/* --- SMALLEST SIZE (MOBILE) --- */
@media (max-width: 520px) {

 /* contains everything */
.header-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    background-image: url(./assets/imgs/bannerempty.jpg);
    background-size: cover;
}

/* contains navbar */
.nav-container {
    background-color: var(--headerb);
    height: auto;
    width: 100vw;
    margin: 20px 0px 0px 0px;
    padding: 10px 5px 10px 5px;
    border-radius: 0px;
}

/* contains individual nav items */
.navitemcontainer {
    display: flex;
    width: 100vw;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.navlink {
    font-size: 1.1em;
    font-weight: 500;
    color: black;
    margin: 0px 6px 0px 6px;
    padding: 0px 0px 0px 0px;
    text-decoration: underline 2px;
}

/* contains header name and logo */
.header-n-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: center;
    height: auto;
    width: 100vw;
    background-color: var(--headerb);
    padding: 10px;
    margin: 20px 10px 20px 10px;
    border-radius: 0px;
}

.logoimg {
    width: 40px;
    height: auto;
}

.header-name {
    text-align: center;
    font-size: 1.7em;
    margin: 0px 10px 0px 0px;
    color: black;
}

nav {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
}

}

/* final adjustment when really small (so logo isnt weird) */
@media (max-width: 322px) {
    .logoimg {
        display: none;
    }

    .header-name {
        margin: 0px;
    }
}

/* ------------ HEADER ENDS HERE --------------- */


/* ------------ FOOTER STARTS HERE --------------- */

.footer-container{
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
padding: 12px 5px 5px 5px;
margin: 10px 5px 5px 5px;
border-top: solid rgb(20, 20, 20, .2) 2px;
}

.footer {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.footerlogo {
    height: 80px;
    width: auto;
    margin: 15px;
    opacity: 1;
}

.footerlogo:hover {
    animation-name: hover;
    animation-duration: .35s;
    opacity: .8;
}

.footertext {
    font-size: 1.4em;
    text-align: center;
}

/* MOBILE BREAKPOINT */
@media (max-width: 550px) {

    .footerlogo {
        height: 50px;
    }

    .footertext {
        font-size: 1em;
        text-align: center;
    }
}

/* ------------ FOOTER ENDS HERE --------------- */


/* ------------ ABOUT ME PAGE STARTS HERE --------------- */

.profileimg-container {
    text-align: center;
}

.profileimg {
    border-radius: 100%;
    width: 100%;
}

.title {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.bodytxt {
    font-size: 1.3em;
    margin: 0px 20px 20px 20px;
    padding: 0px
}

@media (max-width:767px) {

.profileimg {
    width: 70%;
    margin-bottom: 30px;
}

}

/* ------------ ABOUT ME PAGE ENDS HERE --------------- */


/* ------------ PORTFOLIO STARTS HERE --------------- */

.title2 {
    text-align: center;
    padding: 25px 0px 20px 0px;
}

.p-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.p-project {
    width: 100vw;
    margin: 0px;
    padding: 0px;
    flex-basis: 40%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.img-container {
    position: relative;
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    width: 600px;
}

.p-img {
    object-fit: cover;
    width: 100%;
    opacity: 1;
    margin: 5px;
    border-bottom: 5px solid rgba(0,0,0,.5);
    border-radius: 20px;
    position: relative;
}

.p-t-container {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    right: 25%;
    bottom: 18%;
    width: 300px;
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
    background-color: rgba(225,225,225,.95);
    opacity: 0;
}

.p-img:hover + .p-t-container {
    transition: all .4s;
    opacity: 100%;
    transition-timing-function: ease-in-out;
}

.p-t-container:hover {
    transition: all .6s;
    opacity: 100%;
    transition-timing-function: ease-in-out;
}

.p-t-container h3 {
    font-size: 2em;
    text-align: center;
}

.p-t-container p {
    text-align: center;
}

.p-t-container a {
    font-size: 1em;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}

/* ----- mobile breakpoint ----- */
@media (max-width: 645px) {

.p-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: orange;
}

.p-project {
    background-color: blue;
    width: 80%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-flow: row wrap;
}

.img-container {
    width: 100%;
    padding: 0px;
    margin: 0px 10px 0px 10px;
    background-color: red;
}

.p-t-container {
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    right: 25%;
    bottom: 18%;
    width: 300px;
    padding: 20px 25px 20px 25px;
    border-radius: 20px;
    background-color: rgba(225,225,225,.95);
    opacity: 0;
}

.p-img:hover + .p-t-container {
    transition: all .4s;
    opacity: 100%;
    transition-timing-function: ease-in-out;
}

.p-t-container:hover {
    transition: all .6s;
    opacity: 100%;
    transition-timing-function: ease-in-out;
}

.p-t-container h3 {
    font-size: 2em;
    text-align: center;
}

.p-t-container p {
    text-align: center;
}

.p-t-container a {
    font-size: 1em;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
}

}

/* ------------ PORTFOLIO ENDS HERE --------------- */


.dred {
    background-color: red;
}
