
:root {
    --headerb: rgb(255,255,255,.8);
}


/* ------------ HEADER STARTS HERE --------------- */

/* contains everything */
.header-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-end;
    height: 435px;
    width: 100%;
    background-image: url(./assets/imgs/banner.jpg);
    background-size: cover;
}

/* contains navbar */
.nav-container {
    display: flex;
    background-color: var(--headerb);
    margin: 30px 0px 0px 0px;
    padding: 8px 20px 0px 0px;
    border-radius: 20px 0px 0px 20px;
}

.navlink {
    font-size: 2em;
    font-weight: 500;
    color: black;
    margin: 0px 15px 0px 15px;
    padding: 0px 0px 0px 0px;
    text-decoration: underline 2.5px;
}

a:hover.navlink {
    color: grey;
    text-decoration: underline 2.5px grey;
}

/* contains header name and logo */
.header-n-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--headerb);
    padding: 22px 25px 22px 25px;
    margin: 20px 50px 20px 20px;
    border-radius: 30px;
}

.logoimg {
    width: 150px;
    height: auto;
}

.header-name {
    text-align: center;
    font-size: 2.6em;
    margin: 12px 0px 0px 0px;
    color: black;
}

/* ------------ HEADER ENDS HERE --------------- */

.footerlink {
    color: red;
}